{% extends "blogapp/base.html" %}

{% block title_block %}
	{{ post.title }}
{% endblock title_block %}

{% block content_block %}
	<h1>{{ post.title }}</h1>
	<p id="date">Published on {{post.publish}} by {{ post.author|title }}</p>
		{{ post.body|linebreaks }}
	<br><br>
	<div class="container" align="center">
			<a href="/{{ post.id }}/share" class="btn btn-lg btn-success" target="blank">Share post by Email</a>
	</div>

	{% with comments.count as comments_count  %}
		<h2>{{  comments_count}} Comment {{ comments_count|pluralize }}</h2>
	    
	{% endwith %}

	{% if comments %}
		{% for comment in comments  %}
			<p id='ch'>Comment {{ forloop.counter }} by {{ comment.name }} on {{ comment.created }}</p>
			<div class="cb"> 
				{{ comment.body|linebreaks }}
			</div>

		{% endfor %}
		<hr><hr>
	{% else %}
		<p>There are no Comments Yet!!!</p>
		
	{% endif %}

	{% if csubmit %}
		<h2>Your Comment added successfully</h2>
	{% else %}
		<form method="post">
			{{ form.as_p }}
			{% csrf_token %}
			<input type="submit" name="" value="Submit Comment">
			
		</form>
		
	{% endif %}




{% endblock content_block %}

